<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/play" method="post">
    <label for="player_1">Enter player 1 name:
      <input type="text" name="player_1" />
    </label>
    <label for="player_2">Enter player 2 name:
      <input type="text" name="player_2" />
    </label>
    <input type="submit" value="Submit" />
  </form>