<p><%= @player_1 %> Vs <%= @player_2 %></p>
<p><%= @player_2 %>: 60 hit points<p>

<form action="/attack" method="post">
  <input type="submit" value="attack" />
</form>

<p>You attacked <%= @victim %></p>